* {
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    color: #444;
}

.title-bar{
    height: 5vh;
    width: 100vw;
    background-color: #217346;
    color: white;
    display: flex;

    /* align horizontal  */
    justify-content: center;

    /* align vertical  */
    align-items: center;
    font-size: 1rem;
}

.menu-bar{
    height: 5vh;
    width: 100vw;
    background-color: #217346;
    display: flex;
}

.menu-bar-item{
    color: white;
    background-color: #217346;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar-item.selected{
    background-color: #f5f5f5;
    color: #217346;
}

.menu-bar-item:hover{
    background-color: #145230;
    cursor: pointer;
}

.menu-bar-item.selected:hover{
    background-color: #f5f5f5;
    cursor: default;
}

.menu-icon-bar{
    display: flex;
    height: 6vh;
    align-items: center;
    background-color: #f5f5f5;
}

.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    height: 100%;
}

.menu-icon.selected{
    background-color: lightgray;
}

.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}

.color-icon {
    border-bottom: 3.5px solid white;
    padding-bottom: 3px;
}

#text-color-icon {
    border-bottom: 3.5px solid #444;
}

.menu-selector{
    height: 4.5vh;
    font-size: 1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

#font-family{
    width: 10vw;
    min-width: 130px;
    font-family: Noto Sans;
}

#font-size{
    width: 3.5vw;
    min-width: 55px;
}

.formula-bar{
    height: 5vh;
    display: flex;
    padding: calc(0.15 * 5vh) 0.5rem;
    background-color: #f5f5f5;
    border-top: 0.5px solid lightgray;
}

#selected-cell{
    width: 120px;
    background-color: #fff;
}

#function-sign{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#function-input{
    width: calc(100vw - 160px);
    background-color: #fff;
}

.formula-editor{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.data-container{
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#select-all{
    width: 25px;
    height: 25px;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    /* border-right: 1px solid lightgray; */
}

#columns{
    height: 25px;
    width: calc(100vw - 25px);
    background-color: #f5f5f5;
    color: rgb(114, 114, 114);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    overflow: hidden;
}

#rows{
    height: calc(75vh - 25px);
    width: 25px;
    background-color: #f5f5f5;
    color: rgb(114, 114, 114);
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    overflow: hidden;
}

#cells{
    position: relative;
    height: calc(75vh - 25px);
    width: calc(100vw - 25px);
    overflow: scroll;
}

.column-name{
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-right: 1px solid lightgray;
}

.row-name{
    height: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid lightgray;   
}

.cell-row{
    display: flex;
}

.input-cell{
    width: 100px;
    min-width: 100px;
    height: 25px;
    min-height: 25px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    font-size: 14px;
    font-family: Noto Sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.input-cell.selected{
    border: 3px solid #217346;
    outline-color: #217346;
}

.input-cell.top-selected{
    border-top: none;
}

.input-cell.bottom-selected{
    border-bottom: 1px solid lightgray;
}

.input-cell.left-selected{
    border-left: none;
}

.input-cell.right-selected{
    border-right: 1px solid lightgray;
}

.sheet-bar{
    height: 4vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.sheet-scroller {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.sheet-tab-container {
    margin-right: 10px;
    display: flex;
    border-left: 0.5px solid lightgray;

}

.sheet-tab {
    display: flex;
    justify-content: center;
    padding: 3px 10px 0px 10px;
    border-right: 1px solid lightgray;
    font-weight: 600;
}

.sheet-tab.selected {
    color: #217346;
    border-bottom: 5px solid #217346;
}

.sheet-tab:hover {
    background-color: lightgray;
    cursor: pointer;
}

.sheet-tab.selected:hover {
    background-color: white;
    cursor: default;
}

.add-sheet {
    color: #217346;
    font-size: 20px;
}

.scroller {
    font-size: 25px;
}

.add-sheet:hover,
.scroller:hover {
    cursor: pointer;
    transform: scale(1.2);
}

