* {
    box-sizing: border-box;

    /* To remove blinking cursor on clickable elements */
    user-select: none; 
}

body{
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans';
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    color: #444;
    position: relative;
}

.title-bar{
    height: 5vh;
    width: 100vw;
    background-color: #217346;
    color: white;
    display: flex;

    /* align horizontal  */
    justify-content: center;

    /* align vertical  */
    align-items: center;
    font-size: 1rem;
}

.menu-bar{
    height: 5vh;
    width: 100vw;
    background-color: #217346;
    display: flex;
}

.menu-bar-item{
    color: white;
    background-color: #217346;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar-item.selected{
    background-color: #f5f5f5;
    color: #217346;
}

.menu-bar-item:hover{
    background-color: #145230;
    cursor: pointer;
}

.menu-bar-item.selected:hover{
    background-color: #f5f5f5;
    cursor: default;
}

.menu-icon-bar{
    display: flex;
    height: 6vh;
    align-items: center;
    background-color: #f5f5f5;
}

.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    height: 100%;
}

.menu-icon.selected{
    background-color: lightgray;
}

.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}

.color-icon {
    border-bottom: 3.5px solid white;
    padding-bottom: 3px;
}

#text-color-icon {
    border-bottom: 3.5px solid #444;
}

.menu-selector{
    height: 4.5vh;
    font-size: 1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

#font-family{
    width: 10vw;
    min-width: 130px;
    font-family: Noto Sans;
}

#font-size{
    width: 3.5vw;
    min-width: 55px;
}

.formula-bar{
    height: 5vh;
    display: flex;
    padding: calc(0.15 * 5vh) 0.5rem;
    background-color: #f5f5f5;
    border-top: 0.5px solid lightgray;
}

#selected-cell{
    width: 120px;
    background-color: #fff;
}

#function-sign{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#function-input{
    width: calc(100vw - 160px);
    background-color: #fff;
}

.formula-editor{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.data-container{
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#select-all{
    width: 25px;
    height: 25px;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    /* border-right: 1px solid lightgray; */
}

#columns{
    height: 25px;
    width: calc(100vw - 25px);
    background-color: #f5f5f5;
    color: rgb(114, 114, 114);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    overflow: hidden;
}

#rows{
    height: calc(75vh - 25px);
    width: 25px;
    background-color: #f5f5f5;
    color: rgb(114, 114, 114);
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    overflow: hidden;
}

#cells{
    position: relative;
    height: calc(75vh - 25px);
    width: calc(100vw - 25px);
    overflow: scroll;
}

.column-name{
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-right: 1px solid lightgray;
}

.row-name{
    height: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid lightgray;   
}

.cell-row{
    display: flex;
}

.input-cell{
    width: 100px;
    min-width: 100px;
    height: 25px;
    min-height: 25px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    font-size: 14px;
    font-family: Noto Sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.input-cell.selected{
    border: 3px solid #217346;
    outline-color: #217346;
}

.input-cell.top-selected{
    border-top: none;
}

.input-cell.bottom-selected{
    border-bottom: 1px solid lightgray;
}

.input-cell.left-selected{
    border-left: none;
}

.input-cell.right-selected{
    border-right: 1px solid lightgray;
}

.sheet-bar{
    height: 4vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.sheet-scroller {
    display: flex;
    align-items: center;
}

.sheet-tab-container {
    margin-right: 10px;
    display: flex;
    border-left: 0.5px solid lightgray;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheet-tab-container::-webkit-scrollbar {
    display: none;
}

.sheet-tab {
    display: flex;
    justify-content: center;
    min-width: 90px;
    padding: 3px 10px 0px 10px;
    border-right: 1px solid lightgray;
    font-weight: 600;
}

.sheet-tab.selected {
    color: #217346;
    border-bottom: 5px solid #217346;
    outline: none;
}

.sheet-tab:hover {
    background-color: lightgray;
    cursor: pointer;
}

.sheet-tab.selected:hover {
    background-color: white;
    cursor: default;
}

.add-sheet {
    color: #217346;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.scroller {
    font-size: 25px;
}

.add-sheet:hover,
.scroller:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.sheet-options-modal {
    position: absolute;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
}

.option {
    padding: 7px 15px 7px 15px;
    border-bottom: 0.5px solid lightgray;
    font-size: 14px;
}

.option:hover {
    cursor: default;
    background-color: lightgray;
}

.sheet-modal-parent,
.loader-parent {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 68, 68, 0.445);
    position: absolute;
    top: 0;
}

.sheet-rename-modal,
.sheet-delete-modal {
    background-color: #fff;
    position: absolute;
    padding: 15px;
    min-width: 400px;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
}

.sheet-rename-modal > *,
.sheet-delete-modal > * {
    margin: 20px
}

.sheet-modal-title {
    font-weight: 500;
    text-shadow: 0.09px 0.09px 0.9px #217346;
    font-size: 24px;
    color: #217346;
}

.sheet-modal-input-container{
    display: block;
}

.sheet-modal-detail-container {
    display: flex;
    align-items: center;
}

.delete-icon {
    font-size: 27px;
    margin: 3px;
    color: rgb(148, 147, 147)
}

.sheet-modal-input-title {
    font-weight: 600;
}

.sheet-modal-input {
    margin-top: 10px;
    width: 100%;
    height: 1.8rem;
    font-size: medium;
    outline-color: #217346;
}

.sheet-modal-confirmation {
    display: flex;
    justify-content: end;
}
.button {
    width: 100px;
    height: 30px;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
}

.ok-button,
.delete-button {
    background-color: #217346;
    color: #fff;
}

.ok-button:hover,
.delete-button:hover {
    background-color: #145230;
}

.cancel-button:hover {
    background-color: #f5f5f5;
}

.loader {
    border: 3px solid #d3d3d3;
    border-top: 3px solid #217346; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
} 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    color: rgb(195, 0, 0);
    margin-top: 5px;
    font-size: 10px;
    font-style: italic;
}

.file-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    display: flex;
}

.file-options-modal {
    width: 12rem;
    height: 100vh;
    background-color: #217346;
    color: #fff;
}

.file-recent-modal {
    width: calc(50% - 12rem);
    height: 100vh;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 30px 0px 30px -30px;
}

.file-options-modal > * {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.file-options-modal > *:hover {
    cursor: pointer;
    background-color: #145230;
}


.file-option-icon {
    position: absolute;
    left: 2rem;
}

.close {
    margin: 20px 0;
}

.close-icon {
    transform: rotate(90deg);
}

.file-transparent-modal {
    width: 50%;
    height: 100%;
}
